#Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

#Importing Dataset

In [2]:
df = pd.read_csv('GangaRiverData.csv')

In [3]:
print(df.shape)

(2326, 12)

In [4]:
df.head()

         Date      Time   Temp   pH   ...  Salinity  Pressure   D.O.  Turbidity
0  17-02-2020  17:04:52  20.67  8.40  ...      0.23    14.568  101.5       36.7
1  17-02-2020  17:05:02  20.67  8.40  ...      0.23    14.569  101.4       42.4
2  17-02-2020  17:05:12  20.67  8.40  ...      0.23    14.569  101.5       38.2
3  17-02-2020  17:05:22  20.67  8.40  ...      0.23    14.567  101.7       38.0
4  17-02-2020  17:05:32  20.68  8.41  ...      0.23    14.566  101.7       46.8

[5 rows x 12 columns]

Pre-Processing

In [5]:
mean1 = df['Temp'].mean()
mean2 = df['pH '].mean()
mean3 = df['ORP'].mean()
mean4 = df['EC'].mean()
mean5 = df['RES'].mean()
mean6 = df['TDS'].mean()
mean7 = df['Salinity'].mean()
mean8 = df['Pressure'].mean()
mean9 = df['D.O.'].mean()
mean10 = df['Turbidity'].mean()

In [6]:
print(mean1 , mean2 , mean3 , mean4 , mean5 , mean6 , mean7, mean8 , mean9 , mean10)

20.34573946689606 8.964535683576928 171.77016337059337 444.8619948409286 2254.341788478074 289.15606190885643 0.21481943250215962 14.606068357695635 122.16883061048999 16.95275150472917

In [7]:
Mean = df['pH '].mean()
Median = df['pH '].median()
Mode = df['pH '].mode()

In [8]:
print(Mean)
print(Median)
print(Mode)

8.964535683576928
9.0
0    9.01
dtype: float64

In [9]:
maxph = df['pH '].max()
minph = df['pH '].min()
maxt = df['Turbidity'].max()
mint = df['Turbidity'].min()
maxtds = df['TDS'].max()
mintds = df['TDS'].min()
maxsal = df['Salinity'].max()
minsal = df['Salinity'].min()
maxdo = df['D.O.'].max()
mindo = df['D.O.'].min()

In [10]:
print(maxph , minph , maxt , mint , maxtds , mintds , maxsal , minsal , maxdo , mindo)

9.27 6.96 1000.0 10.1 612 240 0.46 0.18 154.5 52.5

In [11]:
df.insert(12, 'QpH',df['pH '])
df.insert(13, 'QTur',df['Turbidity'])
df.insert(14, 'QTDS',df['TDS'])
df.insert(15, 'QDO',df['D.O.'])

In [12]:
df['QpH']=df['QpH'].apply(lambda x: (10 if (4>=x>=2) 
                                 else(18 if  (5>=x>=4) 
                                     else(42 if  (6>=x>=5) 
                                         else(75 if  (7>=x>=6)  
                                             else(100 if  (8>=x>=7)
                                                 else(65 if  (9>=x>=8)
                                                     else(35 if  (10>=x>=9) 
                                                         else(15 if  (11>=x>=10)
                                                             else(5 if  (12>=x>=11)
                                                                 else 0))))))))))

In [13]:
maxphf = df['QpH'].max()
minphf = df['QpH'].min()
meanphf = df['QpH'].mean()
print(maxphf)
print(minphf)
print(meanphf)

100
35
50.70077386070507

In [14]:
df['QTur']=df['QTur'].apply(lambda x: (90 if (10>=x>=0) 
                                   else(70 if  (20>=x>=10) 
                                       else(55 if  (30>=x>=20) 
                                           else(47 if  (40>=x>=30)
                                               else(38 if  (50>=x>=40) 
                                                   else(35 if  (60>=x>=50)
                                                       else(30 if  (70>=x>=60)
                                                           else(25 if  (80>=x>=70)
                                                               else(23 if  (90>=x>=80)
                                                                   else(20 if  (100>=x>=90)
                                                                       else 5)))))))))))

In [15]:
maxtf = df['QTur'].max()
mintf = df['QTur'].min()
meantf = df['QTur'].mean()
print(maxtf)
print(mintf)
print(meantf)

70
5
68.46474634565779

In [16]:
df['QTDS']=df['QTDS'].apply(lambda x: (85 if (50>=x>=0) 
                                 else(88 if  (100>=x>=50) 
                                     else(80 if  (150>=x>=100) 
                                         else(75 if  (200>=x>=150) 
                                             else(70 if  (250>=x>=200) 
                                                 else(65 if  (300>=x>=250)
                                                     else(55 if  (350>=x>=300)
                                                         else(55 if  (350>=x>=300) 
                                                             else 0)))))))))

In [17]:
maxtdsf = df['QTDS'].max()
mintdsf = df['QTDS'].min()
meantdsf = df['QTDS'].mean()
print(maxtdsf)
print(mintdsf)
print(meantdsf)

70
0
63.50386930352536

In [18]:
df['QDO']=df['QDO'].apply(lambda x: (5 if (20>=x>=0) 
                                 else(20 if  (40>=x>=20) 
                                     else(45 if  (60>=x>=40) 
                                         else(75 if  (80>=x>=60) 
                                             else(93 if  (100>=x>=80) 
                                                 else(95 if  (120>=x>=100)
                                                     else(85 if  (140>=x>=120) 
                                                         else 50))))))))

In [19]:
maxtdof = df['QDO'].max()
mintdof = df['QDO'].min()
meantdof = df['QDO'].mean()
print(maxtdof)
print(mintdof)
print(meantdof)

95
45
87.69905417024935

In [20]:
df.insert(16, 'WpH',df['QpH'])
df.insert(17, 'WTur',df['QTur'])
df.insert(18, 'WTDS',df['QTDS'])
df.insert(19, 'WDO',df['QDO'])

In [21]:
df['WpH']=df['WpH']*0.255
df['WTur']=df['WTur']*0.195
df['WTDS']=df['WTDS']*0.175
df['WDO']=df['WDO']*0.375

In [22]:
df.insert(20, 'WQI',df['WpH']+df['WTur']+df['WTDS']+df['WDO'])

In [23]:
df.head()

         Date      Time   Temp   pH   ...   WTur   WTDS     WDO     WQI
0  17-02-2020  17:04:52  20.67  8.40  ...  9.165  9.625  35.625  70.990
1  17-02-2020  17:05:02  20.67  8.40  ...  7.410  9.625  35.625  69.235
2  17-02-2020  17:05:12  20.67  8.40  ...  9.165  9.625  35.625  70.990
3  17-02-2020  17:05:22  20.67  8.40  ...  9.165  9.625  35.625  70.990
4  17-02-2020  17:05:32  20.68  8.41  ...  7.410  9.625  35.625  69.235

[5 rows x 21 columns]

#Class Divison

In [24]:
print("Class division based on WQI values:")
print("Class 1: 0-25")
print("Class 2: 26-50")
print("Class 3: 51-70")
print("Class 4: 71-90")
print("Class 5: Above 100")

Class division based on WQI values:
Class 1: 0-25
Class 2: 26-50
Class 3: 51-70
Class 4: 71-90
Class 5: Above 100

In [25]:
df.insert(21,'Result',df['WQI'])

In [26]:
def func(y):
    val = 0
    if y<=25:
        val = 1
    elif 25<y<=50:
        val = 2
    elif 50<y<=70:
        val = 3
    elif 70<y<=90:
        val = 4
    elif 91<y:
        val = 5
    return val

In [27]:
df['Result']=df['Result'].apply(lambda x: func(x))

In [28]:
df.head()

         Date      Time   Temp   pH   ...   WTDS     WDO     WQI  Result
0  17-02-2020  17:04:52  20.67  8.40  ...  9.625  35.625  70.990       4
1  17-02-2020  17:05:02  20.67  8.40  ...  9.625  35.625  69.235       3
2  17-02-2020  17:05:12  20.67  8.40  ...  9.625  35.625  70.990       4
3  17-02-2020  17:05:22  20.67  8.40  ...  9.625  35.625  70.990       4
4  17-02-2020  17:05:32  20.68  8.41  ...  9.625  35.625  69.235       3

[5 rows x 22 columns]

In [29]:
if 5 in df['Result']:
    print('5 exists in Dataframe')

5 exists in Dataframe

In [30]:
if 4 in df['Result']:
    print('4 exists in Dataframe')

4 exists in Dataframe

In [31]:
if 3 in df['Result']:
    print('3 exists in Dataframe')

3 exists in Dataframe

In [32]:
if 2 in df['Result']:
    print('2 exists in Dataframe')

2 exists in Dataframe

In [33]:
if 1 in df['Result']:
    print('1 exists in Dataframe')

1 exists in Dataframe

In [34]:
df.to_csv('RiverDataResult.csv',index = False)